
.cont-sabores-shop{
	width: 100%
}

.h3-shop{
	text-align: center;
	margin: 0% 0% 0% 0%;
	grid-column-start: 1;
	grid-column-end: 5;
	padding: 3.5% 0%;

}

.Sabores-shop{
	/* display: flex; */
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 21% 21% 21% 21%;
	flex-wrap: wrap;
	column-gap: 2%;
}

.primerSabor-shop{
	background-color: darksalmon;
}

.SegundoSabor-shop{
	background-color: khaki;
}

.TercerSabor-shop{
	background-color: darkseagreen;
}




.tamaño-shop{
	margin: 6% 3% 13% 0%;
}

.img-shop{
	width: 40vh;
	height: 50vh;
	border-radius: 10px;
}



.btn-modal-compra{
	display: none;
}





.ScrollFade{
	opacity: 0;
	transition: all 0.5s;
}

