
.cont-sabores-shop{
	width: 100%
}

.h3-shop{
	text-align: center;
	margin: 0% 0% 0% 0%;

}

.Sabores-shop{
	/* display: flex; */
	justify-content: center;
	align-items: center;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
}

.primerSabor-shop{
	background-color: darksalmon;
}


.tamaño-shop{
	margin: 6% 3% 13% 3%;
}

.img-shop{
	width: 40vh;
	height: 50vh;
}

.ScrollFade{
	opacity: 0;
	transition: all 0.5s;
}