/* Header*/

    // Carrousel
    .carrousel-pequeño{
        display: none;
    }
    .foto{
        height: 100vh;
        width: 100%;
    }
    .foto-dos-del-inicio{
        margin-top: 10%;
    }
    
    /*Botones*/
    .arriba-boton{
        @include position (fixed, none, 3%, 5%, none, 10);
        @include texto (2.5em, $secondary, center, normal, normal, none);
        @include box-model (none, none, 1.6em, 1.5em);
        background-color: $primary;
        border-radius: 50px;

            &:hover{
                color: $secondary;
            }
    }

    // Eslogan
    .eslogan{
        @include texto (3.5em, $font-color, center, normal, normal, $courgette);
        @include box-model (1.5% 0%, 0%, 100%, 17vh);
        @include position (absolute, 75%, none, none, none, 2);
        background-color: $third;
        opacity: 0.65;
    }
    
    // Quienes somos
    .nosotros{
        @include flexbox (center, center, normal);
    }
    .contenedor-motivos{
        @include grid (90%, 20% 80%, center, center, none, none);
        @include input-style (none, none, 3px solid $third, 3px solid $third, $font-color, none, 1);
        @include box-model(3% 0% 5% 0%, 6% 7%, 100%, 70%);
        grid-gap: 7%;
        text-align: center;
        -webkit-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        -moz-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
    .debajo-del-eslogan{
        @include texto (2.3em, $third, center, italic, bold, $lato);
    }
    .texto-quienes-somos{
        font-size: 1.5em;
    }
    
    
    