/* Contacto */

// General:
    .contacto{
        background-image: url("../imagenes/fondos/foto-contact.jpg");
        background-size: 100% 100%;

    }

    .cont-form-contacto{
        @include flexbox (center, flex-start, normal);
    }
    
    .form-contacto{
        @include grid ( 100%, 100%, flex-start, center, none, none);
        width: 36%;
        height: 62vh;
        margin: 0% 3% 0% 0%
    }


// Inputs y textarea:
    input[type=text], textarea{
        @include box-model(0%, 10% 0%, 100%, 4em);
        @include texto (1.1em, $third, none, normal, bold, $lato);
        @include input-style (none, 2px solid $third, none, none, transparent, $third, 1);

        &:hover{
            background-color: whitesmoke;
            opacity: 0.9;
        }
    }
    
    input[type=email]{
        @include box-model(0%, 0% 0% 10% 0%, 100%, 3.5em);
        @include texto (1.1em, $third, none, normal, bold, $lato);
        @include input-style (none, 2px solid $third, none, none, transparent, $third, 1);

        &:hover{
            background-color: whitesmoke;
            opacity: 0.9;
        }
    }
    
    ::-webkit-input-placeholder{
        color: $third;
        font-size: 2em;
    }


// Botones del formulario:
    .cont-botones{
        @include grid ( 50% 50%, 100%, center, center, none, none);
        margin-top: 8%;
    }
    
    input[type=submit], input[type=reset]{
        @include input-style (none, none, none, none, $third, $font-color, 0.8);
        padding: 6% 3%;
        font-size: 2em;
    }
    
    input[type=submit]:hover{
        @include input-style (none, none, none, none, $font-color, $third, 0.8);
        transition: 0.6s;
    }
    
    input[type=reset]:hover{
        @include input-style (none, none, none, none, $font-color, $third, 0.8);
        transition: 0.6s;
    }

    
// Iframe de ubicacion:
        .ubicacion{
        @include box-model(0%, 0% 0% 18% 0%, 64vh, 65vh);
        border-radius: 3px;
    }