/*Productos*/

//General y texto:
    .contenedor-productos{
        @include grid (28% 28% 28%, 100%, space-around, center, normal, wrap);
        margin-bottom: 5%;
        margin-top: -2%;

            h3{
                text-align: center;
                margin-top: 10%;
                font-size: 1.3em;
            }

            h4{
                @include input-style (none, none, none, none, $font-color, $third, 0.6);
                margin: 0% 0% -20% 0%;
                border-radius: 20px;
                font-size: 1.4em;
            }
    }


// Carrousel de productos:
    .carrousel-productos{
        @include box-model (0%, 10% 0% 0% 10%, 80%, normal);
    }

    .cont-carrousel-y-h3{
        @include sombras;
        @include background (normal, 80vh, 100%, none);
        background-color: $bg-color-two;
    }

    .fotos-productos{
        @include box-model (0%, 0%, 100%, 46vh);
    }


// Botones:
    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }

    .boton-encargar{
        @include input-style (none, none, none, none, $buttons, $font-color, 1);
        width: 100%;
        height: 10vh;
        font-size: 1.7em;

            &:hover{
                @include input-style (3px solid $buttons, 3px solid $buttons, 3px solid $buttons, 
                3px solid $buttons, $font-color, $buttons, 1);
                background-color: $font-color;
                font-weight: bold;
            }
    }