/* Titulos de secciones */

//Animacion:
    .animacion-titulo:hover .contenedor1{
        transform: translate(-20px, -20px);
    }
    
    .animacion-titulo:hover .titulo-de-secciones{
        transform: translate(-40px, -40px);
    }
    
    
//Titulo y cajas:
    .titulo-de-secciones{
        @include texto (7em, $third, center, normal, bold, $montserrat);
        @include box-model(0.25em, 0% auto, 60%, 1em);
        @include position (relative, none, none, none, none, 3);
        background-color: $secondary;
        transition: transform 0.8s;
    }
    
    .contenedor1{
        @include box-model(0.25em, 0% auto, 60%, 7em);
        @include position (relative, 7em, none, none, none, 2);
        background-color:$primary;
        transition: transform 0.8s;
    
    }
    .contenedor2{
        @include box-model(0.25em, 0% auto, 60%, 6em);
        @include position (relative, -5.7em, none, none, none, 1);
        background-color: $third;
        transition: transform 0.8s;
    }