/*Header*/
    .carrousel-grande{
        z-index: 5;
    }

    .foto{
        margin-top: 10%;
        height: 90vh;
        width: 100%;
    }
    
    /*Boton*/
    .arriba-boton{
        @include position (fixed, none, 1%, 5%, none, 4);
        @include texto (2em, $secondary, center, normal, normal, none);
        @include box-model (none, none, 1.7em, 1.6em);
        border-radius: 50px;
        background-color: $primary;

            &:hover{
                color: $secondary;
                background-color: $primary;
            }
    }
    
    // Eslogan
    .eslogan{
        @include texto (7vh, $font-color, center, normal, normal, $courgette);
        @include box-model (0% 0%, -10% 0% 3% 0%, 90%, 20vh);
        @include position (absolute, none, 10%, none, none, 6);
        @include flexbox (center, center, normal);
        border-radius:30px;
        opacity: 0.65;
        background-color: $third;
    }
    
    // Quiénes somos
    .nosotros{
        @include flexbox (center, center, normal);
    }

    .contenedor-motivos{
        @include grid (90%, 20% 80%, center, center, none, none);
        background-color: $font-color;
        @include box-model(3% 0% 5% 0%, 10% 7% 0% 7%, 100%, 70%);
        grid-gap: 2%;
        text-align: center;
        height: 72vh;  


        -webkit-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        -moz-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
    
    .debajo-del-eslogan{
        @include texto (2em, $third, center, italic, bold, $lato);
    }

    .texto-quienes-somos{
        font-size: 1.4em;
    }