/*Productos*/
    .contenedor-productos{
        @include grid (48% 48%, 40%, center, center, none, wrap);
        margin-top: 20%;
        margin-bottom: -17%;
        row-gap: 15%;
    }
    
    .cajita-produc{
        @include box-model(0% 8%, 0% 0% -5% 0%, 100%, 55vh);
        @include grid (100%, 45% 25% 25%, center, center, none, wrap);
    }
    
    .producto{
        width: 100%;
        min-height: 16em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        z-index: 1;
    }
    
    .sabores{
        @include texto (1.3em, $third, center, normal, bold, $lato);
        @include position (relative, -36%, none, none, none, 2);
        @include box-model(5% 0% 5% 0%, -10% 0% 0% 0%, 100%, 10vh);
        background-color: $bg-color-two;
    }
    
    .boton-produc{
        @include box-model(3% 0% 3% 0%, -50% 0% 0% 0%, 100%, 10vh);
        @include texto (1.3em, $buttons1, center, normal, bold, $lato);
        @include position (relative, none, none, none, none, 3);
        background-color:  $bg-color-two;
    }
    
    .boton-produc:hover{
        background-color: $buttons1;
        color: $font-color;
        transition: 0.6s;
    }
