/*Productos*/

//General y texto:    
    .contenedor-productos{
        @include flexbox (center, center, flex-wrap);
        width: 100%;

        h3{
            text-align: center;
            margin-top: 5%;
            font-size: 1.6em;
        }

        h4{
            @include input-style (none, none, none, none, $font-color, $third, 0.6);
            margin: 0% 0% 0% 0%;
            border-radius: 20px;
            font-size: 20em;
        }
    }

// Carrousel de productos:
    .carrousel-productos{
        @include box-model (0%, 3% 0% 0% 10%, 80%, normal);
    }

    .cont-carrousel-y-h3{
        @include sombras;
        @include background (normal, 79vh, 80%, none);
        margin: 3% 0%;
        background-color: $bg-color-two;
    }

    .fotos-productos{
        @include box-model (0%, 3% 0% 0% 10%, 100%, 47vh);

    }

//Botones:
    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }

    .boton-encargar{
        @include input-style (none, none, none, none, $buttons, $font-color, 1);
        @include box-model (0%, 0%, 100%, 13vh);
        font-size: 1.3em;
        border: none;

            &:hover{
                @include input-style (3px solid $buttons, 3px solid $buttons, 3px solid $buttons, 
                3px solid $buttons, $font-color, $buttons, 1);
                font-weight: bold;
            }
    }