/*Vender Anukis*/
    .vender{
        @include background (100% 100%, none, 100%, url("../imagenes/fondos/fondo-vender3.jpg"));
        margin-top: 7%;
    }
    
    .section-vender{
        @include grid ( 100%, 100%, center, center, none, none);
        height: 110vh;
    }
    
    .div-h4-vender{
        @include flexbox (center, center, normal);
        margin: 0% 0% 0% 0%;
    }
    
    .h4uno{
        @include box-model( 3% 3% 0% 3%, 20% 1% 10% 0%, 60%, 30vh);
        @include texto (1.5em, $bg-color, center, normal, bold, $montserrat);
    
        text-transform: uppercase;
        background-color: $third;
        opacity: 0.6;
        position: relative;
    }
    
    .boton-formulario{
        @include box-model(0%, 0% 0% 0% 0%, 80%, 2.8em);
        @include texto (2em, $third, center, normal, normal, $lato);
        @include position (relative, -195%, none, 10%, none, 1);
        border-radius: 10px;
        border: none;
    }
    
    /* MODAL DEL FORMULARIO */
    
    .form-vender{
        input[type=text], input[type=email], textarea{
            font-size: 1em;
            font-weight: normal;
            width: 100%;
                
        }
        input[type=text]{
            margin: 0% 0% 5% 0%;
        }

        input[type=email]{
            margin: 0% 0% 4% 0%;
        }
                }

    .label-form-vender{
        font-size: 1.2em;
        color: $third;
        font-weight: bold;
    }
    
    .cont-puestos{
        @include grid ( 5% 20% 5% 20% 5% 20%, 100%, center, center, none, none);
        color: $third;
        font-weight: bold;
    }
    
    .label-turnos{
        margin-bottom: 3%
    }
    
    option{
        font-size: 1.1em;
        color: $third;
    }
    
    .text-form-vender{
        margin-top: 6%
    }
    
    .cont-notificaciones{
        @include grid ( 5% 90%, 100%, flex-start, center, none, none);
        font-size: 1.1em;
        color: $third;
    
    }