/*Colores*/

$primary: #4F2A1C;
$secondary: #ffff6c;
$third: black;
$bg-color: aliceblue;
$bg-color-two: gainsboro;
$font-color: whitesmoke;
$buttons: firebrick;

/*Fuentes*/

$montserrat: 'Montserrat', sans-serif;
$courgette: 'Courgette', cursive;
$lato: 'Lato', sans-serif;

