/* Contacto */
    // General:
    .contacto{
        @include background (150% 100%, none, 100%, url("../imagenes/fondos/contact2.jpg"));
        margin-top: 20%;
    }
    
    .cont-form-contacto{
        display: grid;
        grid-gap: 10%;
        grid-template-columns: 100%;
    }
    
    .form-contacto{
        @include grid ( 100%, 100%, center, center, none, none);
        margin: 20% 0% 0% 10%;
        width: 80%;
        height: 50vh;


// Inputs y textarea:
            input[type=text], textarea{
                @include box-model(0%, 15% 0%, 100%, 18%);
                @include texto (1.2em, $font-color, left, normal, bold, $lato);
                @include input-style (none, 2px solid $font-color, none, none, transparent, $third, 0.7);
            }

            input[type=email]{
                @include box-model(0%, 0% 0% 0% 0%, 100%, 18%);
                @include texto (1.2em, $font-color, left, normal, bold, $lato);
                @include input-style (none, 2px solid $font-color, none, none, transparent, $third, 0.7);
            }
            
            ::-webkit-input-placeholder{
                color: $font-color;
                font-size: 1.2em;
            }
            
    
// Botones del formulario: 
            .cont-botones{
                @include grid ( 50% 50%, 100%, center, center, none, none);
                margin: 5% -0.1% 20% -0.1%;
            }
            
            input[type=submit], input[type=reset]{
                @include input-style (none, none, none, none, $third, $font-color, 0.8);
                padding: 9% 4%;
                font-size: 1.2em;
            }
            
            input[type=submit]:hover{
                @include input-style (none, none, none, none, $font-color, $third, 0.8);
                transition: 0.6s;
            }
            
            input[type=reset]:hover{
                @include input-style (none, none, none, none, $font-color, $third, 0.8);
                transition: 0.6s;
            }
    }

// Iframe de ubicación:
    .cont-ubicacion{
        display: flex;
        justify-content: center;
    }
    
    .ubicacion{
        @include box-model(0%, 0%, 80%, 60vh);
        border-radius: 3px;
    }
    