/*Productos*/

//General y texto:
    .contenedor-productos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        h3{
            text-align: center;
            margin: 5% 0%;
            font-size: 1.6em;
        }

        h4{
            margin: 0% 0% 0% 0%;
            color: $third;
            background-color: $font-color;
            border-radius: 20px;
            opacity: 0.6;
            font-size: 1.2em;
        }
    }

    .carrousel-productos{
        margin: 3% 0% 0% 10%;
        width: 80%;
    }

    .cont-carrousel-y-h3{
        @include sombras;
        @include box-model (0, 7% 0%, 80%, 63.5vh);
        background-color: $bg-color-two;
    }

    .fotos-productos{
        @include box-model (0, 0, 100%, 39vh);

    }

    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }

    .boton-encargar{
        @include box-model (0, 0, 100%, 8vh);
        @include input-style (none, none, none, none, $buttons, $font-color, 1);
        font-size: 1.3em;

            &:hover{
                @include input-style (3px solid $buttons, 3px solid $buttons, 3px solid $buttons, 
                3px solid $buttons, $font-color, $buttons, 1);
                font-weight: bold;
            }
    }