    /*Productos*/
    .contenedor-productos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

            h3{
                text-align: center;
                margin-top: 5%;
                font-size: 1.5em;
            }
    }

    .carrousel-productos{
        margin: 5% 0% 0% 10%;
        width: 80%;
    }

    .cont-carrousel-y-h3{
        margin: 5% 0%;
        background-color: $bg-color-two;
        width: 80%;
        height: 72vh;  
        -webkit-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        -moz-box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
        box-shadow: 11px 15px 10px -3px rgba(51,51,51,1);
    }

    .fotos-productos{
        height: 52vh;
        width: 100%;
    }

    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }