

    /*Socios de Anukis*/
    .titulo-socios{
        margin-bottom: -10%;
    }
    
    .article-socios h3, p{
        @include grid (100%, 100%, center, center, none, none);
        text-align: center;
        margin: 5%;
    }
    
    .article-socios h3{
        font-size: 2em;
    }
    
    .article-socios p{
        font-size: 1.2em;
        line-height: 30px;
        margin: 3% 10% 5% 10%
    }
    
    .cont-fotos-socios{
        @include grid (33.3% 20.4% 33.3%, 100%, center, center, none, none);
        grid-gap: 6.5%;
    }
    
    .cont-fotos-socios img{
        width: 100%;
        min-height: 30vh;
        max-height: 75vh;
    }
    
    .foto-dos-de-alex{
        border: 22px solid transparent;
    }