    /*Productos*/
    .contenedor-productos{
        @include grid (30% 30% 30%, 100%, center, center, none, none);
        margin-bottom: 10%;
    }

    .carrousel-productos{
        width: 27%;
        height: 62vh;
        margin: 0% 5%;
    }

    .fotos-productos{
        height: 62vh;
        margin: 0% 0% 0% -30%;
    }

    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }