    /*Productos*/
    .contenedor-productos{
        display: flex;
        justify-content: space-around;
        margin-bottom: 10%;
    }

    .carrousel-productos{
        width: 27%;
        height: 62vh;
    }

    .fotos-productos{
        height: 62vh;
        margin: 0% 0% 0% -30%;
    }

    .boton-prev-sig{
        background-color: transparent;
        border: transparent;
    }