/*Vender Anukis*/
    .vender{
        @include background (100% 100%, none, 100%, url("../imagenes/fondos/gatoycesta3.webp"));
    }
    
    .article-vender{
        @include grid ( 34% 45%, 100%, center, center, none, none);
        grid-gap: 1%;
            
            h3{
                @include box-model(0%, 10% 1% 10% 0%, 100%, 5em);
                @include texto (3em, $third, right, normal, bold, $montserrat);
                text-transform: uppercase;
                border-right: 0.1em solid $third;
                background-color: $font-color;
                    
                    p{
                        display: none;
                    }
        }
    }
    
    
//Boton del formulario:
    .boton-formulario{
        @include box-model(0%, 0%, 100%, 3em);
        @include texto (1.5em, $third, center, normal, normal, $lato);
        border-radius: 10px;
        border: none;
        position: relative;
        top: 25%;
    }
    

//Formulario:
    .form-vender{
        input[type=text], input[type=email], textarea{
            font-size: 1em;
            font-weight: normal;
        }

        input[type=text]{
            margin: 0% 0% 5% 0%;
        }

        input[type=email]{
            margin: 0% 0% 4% 0%;
        }

        .label-form-vender{
            @include texto (1.2em, $third, normal, normal, bold, $montserrat);
        }
        
        .label-turnos{
            margin-bottom: 3%
        }
        
        .cont-puestos{
            @include grid ( 5% 20% 5% 20% 5% 20%, 100%, flex-start, center, none, none);
            @include texto (1em, $third, center, normal, bold, $lato);
            margin: 3% 0% 5% 0%;
        }
        
        option{
            @include texto (1.1em, $third, center, normal, normal, $lato);
        }
        
        .text-form-vender{
            margin-top: 6%
        }
        
        .cont-notificaciones{
            @include grid ( 5% 90%, 100%, flex-start, center, none, none);
            @include texto (1.1em, $third, center, normal, normal, $lato);  
        }
    }


//Modal:
    .modal-header, .modal-footer{
        background-color: $primary;
        color: $secondary;
    }